@import '../../_variables';

.header.module {
  position: relative;
  text-align: center;

  .logo {
    margin: 0;
    padding: $space-tiny;
    background-color: $neutral-color;
    color: $gray-light;
    font-size: $font-size-small;
  }
}