@import '../../_variables';

html {
  width: $full;
  height: $full;

  body {
    width: $full;
    height: $full;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    overflow-x: hidden;

    .layout {
      position: relative;
      display: flex;
      min-height: $fluid-full;
      flex-direction: column;
      overflow: hidden;

      .view {
        position: relative;
        flex: 1;
      }
    }
  }
}