@import '_variables';

// buttons

.button {
  display: block;
  position: relative;
  margin: 0;
  padding: $space-base;
  outline: none;
  font-family: $font-family-header;
  font-size: $font-size-base;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  letter-spacing: $space-atomic;
  transition: all $faster;
  
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.weather {
    overflow: hidden;
    background-color: transparent;
    font-size: $font-size-large;
    color: $primary-color;
    transition: all $fast;

    .name {
      display: block;
      position: relative;

      &:before {
        content: attr(data-letters);
        position: absolute;
        left: 0;
        width: 0%;
        overflow: hidden;
        white-space: nowrap;
        color: $light;
        transition: width $faster;
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: $full;
      width: $full;
      z-index: -1;
      background: $primary-color;
      transform: translate3d(101%,0,0);
      transition: transform $faster;
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

    &:hover {
      color: $primary-color;

      .name {

        &:before {
          width: $full;
        }
      }

      &:after {
        transform: translate3d(0,0,0);
      }
    }
  }

  &.back {
    margin: $space-base;
    padding: $space-mini;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: $full;
      height: $space-atomic;
      background: $primary-color;
      transform: scale3d(0,1,1);
      transition: transform $faster;
      z-index: -1;
    }

    &:before {
      position: absolute;
      top: -$space-quantum;
      right: 0;
      transform-origin: $full $half;
    }

    &:after {
      left: 0;
      bottom: 0;
      transform-origin: 0 $half;
    }

    .label {
      position: relative;
      transition: color $faster;

      &:before,
      &:after {
        position: absolute;
        color: $primary-color;
        opacity: 0;
        transition: transform $faster, opacity $faster;
      }
    }

    &:hover {

      &:before,
      &:after {
        transform: scale3d(1,1,1);
      }

      .label {
        color: $primary-color;

        &:before,
        &:after {
          opacity: 1;
          transform: translate3d(0,0,0);
        }
      }
    }
  }
}