@import '../../_variables';

.weather.view {
  display: flex;
  min-height: $fluid-half;
  flex-direction: column;

  .city.figure {
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: center;

    .caption {
      margin: 0;
      padding: $space-base + $space-tiny;
      background-color: $primary-color;

      .name {
        margin: 0;
        color: $light;
        font-size: $font-size-large;
      }

      .description {
        margin: 0;
        color: $neutral-color;
      }
    }

    .temp {

      .current {
        margin: $space-base auto;
        font-size: $space-huge;
        font-weight: bold;

        .range {
          display: block;
          color: $gray-light;
          font-size: $quarter + 10%;
          letter-spacing: $space-atomic;
        }
      }

      .meta {
        animation-delay: $fast;

        &.humidity {
          animation-delay: $fast + $faster;
        }

        &.wind {
          animation-delay: $slow;
        }
      }
    }
  }
}